/* boilerplate style*/

window {
  border: 2px solid crimson;
  background-color: crimson;
}

#input {
  margin: 5px;
  border: 2px solid aliceblue;
  background-color: aliceblue;
}

#inner-box {
  margin: 5px;
  border: 2px solid yellow;
  background-color: yellow;
}

#outer-box {
  margin: 5px;
  border: 2px solid orange;
  background-color: orange;
}

#text {
  margin: 5px;
  border: 2px solid cyan;
  background-color: cyan;
}

#entry:selected {
  background-color:
    rgba(0, 0, 0, 0);
}

#text:selected {
  background-color: red;
}
